/* Card container to center the card */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Card title styles */
.card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.summary-text {
    text-align: left;
    overflow: auto;
}

/* Card styles */
.card {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Card body styles */
.card-body {
    padding: 20px;
    //text-align: center;
}

/* Card text styles */
.card-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}


