<div style="margin-top: 150px">
  <mat-card
    appearance="outlined"
    class="card transparent-card"
    style="margin-top: 20px"
  >
    <mat-card-content class="card-content" style="height: 40vh">
      <form [formGroup]="loginMasterForm">
        <div class="row" style="margin-top: 50px">
          <!-- Username Field -->
          <div class="col-2-4">
            <mat-label class="label" style="padding-right: 30px"
              >User Name</mat-label
            >
            <mat-form-field class="w-100 form-label" appearance="fill">
              <input matInput formControlName="username" />
            </mat-form-field>
          </div>
          <div class="col-2-4">
            <mat-label class="label" style="padding-right: 70px"></mat-label>
            <mat-radio-group value="role" formControlName="role">
              <mat-radio-button value="Host">Host</mat-radio-button>
              <mat-radio-button value="Listener">Listener</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          style="margin-top: 30px"
          type="submit"
          class="submit-btn"
          (click)="onSubmit()"
        >
          Join
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
